
{{input value=model.copy.identity placeholder="identity"}}
{{#link-to "developers"}}
<button class ="user icon ui success button blue" {{action "save" model}}>Modifier</button>
{{/link-to}}
{{outlet}}
